{% extends 'PrestaCMSCoreBundle:Block:base_block.html.twig' %}

{% block block %}
    {% if (settings.media) %}
        <div class="cms-block-media-container">
            {% media settings.media, settings.format %}
        </div>
    {% endif %}
{% endblock %}