{% extends 'PrestaCMSCoreBundle:Block:base_block.html.twig' %}

{% block block %}
    {% if (settings.media) %}
        <div class="cms-block-media-container">
            <img src="{% path settings.media, settings.format %}" alt="{{ settings.media_alt }}" />
        </div>
    {% endif %}
{% endblock %}